## name,commandable,tamingTime,fedDuration,consumeRange,consumeSearchInterval,consumeHeal,consumeSearchRange,consumeItems,changeFaction,procretion,maxCreatures,pregnancyChance,pregnancyDuration,growTime
*Default,true,1800,600,1.6,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:OnionSoup:Onion,false,true,5,0.33,60,1800



########################################################################################################################################################################################################################
*Vegetarian,consumeItems=Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:OnionSoup:Onion

Boar,false,consumeRange=1.4
Deer
Neck,egg=drake(1800:#00FF00:0.3),growTime=1800
Hare

#Bat


########################################################################################################################################################################################################################
*RawMeat,consumeItems=RawMeat:NeckTail:FishRaw:DeerMeat:WolfMeat:LoxMeat:HareMeat:ChickenMeat:SerpentMeat:BugMeat:AsksvinMeat:Softtissue

Blob,maxcreatures=4
BlobTar,maxcreatures=4
Serpent,size=2,consumeRange=2
BonemawSerpent,size=2,consumeRange=2
BlobLava,maxcreatures=4
Ulv,egg=drake(1800:#FFFF00:0.5)

#Morgen:Morgen_NonSleeping,size=2
#Wolf
#Fenring_Cultist
#Fenring_Cultist_Hildir:Fenring_Cultist_Hildir_nochest
#Hatchling
#Abomination,size=2.5,consumeRange=4
#Draugr
#Ghost
#Wraith
#BlobElite
#Draugr_Elite
#Fenring
#Volture,growTime=1800,egg=chicken(1800:#A87F4E:2)



##########################################################################################################################################################################################################################
*Wolf,true,2000,300,1.6,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:BoarMeat:HareMeat,false,true,7,0.66,120,1800
Wolf


####################################################################################################################################################################################################################################
*Meals,WolfMeatSkewer:TurnipStew:MushroomOmelette:MinceMeatSauce:FishWraps:DeerStew:Bread:BloodPudding:BlackSoup:YggdrasilPorridge:SerpentStew:SeekerAspic:MisthareSupreme:MeatPlatter:MagicallyStuffedShroom:LoxPie:HoneyGlazedChicken:FishAndBread

#Goblin
#GoblinBrute,consumeRange=1.8
#GoblinShaman
#GoblinShaman_Hildir:GoblinShaman_Hildir_nochest,consumeRange=1.8




######################################################################################################################################################################################################################################
*NotPicky,consumeItems=SerpentMeatCooked:NeckTailGrilled:CookedMeat:CookedLoxMeat:Bread:Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Honey:Mushroom:MushroomYellow:MushroomBlue:MinceMeatSauce:DeerStew:CookedDeerMeat:BoarJerky:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:OnionSoup:Onion:CookedHareMeat

Greydwarf
Greyling


#Skeleton_Poison
#Skeleton_Hildir:Skeleton_Hildir_nochest
#Troll,size=2.5,consumeRange=3




#########################################################################################################################################################################################################################################
*BloodSuckers,consumeItems=SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:BugMeat:CookedBugMeat:HareMeat:CookedHareMeat:Bloodbag:Entrails

#Leech
#Deathsquito,maxCreatures=8
#Tick
#Gjall,size=2,consumeRange=3




##########################################################################################################################################################################################################################################
*Dvergers,consumeItems=MagicallyStuffedShroom:YggdrasilPorridge:SeekerAspic

#Dverger,consumeItems=MushroomOmelette:MisthareSupreme:FishAndBread:HoneyGlazedChicken:MeatPlatter:Salad
#DvergerMage
#DvergerMageFire
#DvergerMageIce
#DvergerMageSupport
#Dverger:DvergerMage:DvergerMageFire:DvergerMageIce:DvergerMageSupport




#########################################################################################################################################################################################################################################
*HighLevel,consumeItems=HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:SerpentMeatCooked:CookedAsksvinMeat:CookedVoltureMeat

#Seeker
#SeekerBrute,consumeRange=1.9
#SeekerBrood
#Charred_Twitcher:Charred_Twitcher_Summoned,true
#Charred_Melee:Charred_Melee_Fader,true
#Charred_Archer:Charred_Archer_Fader,true
#FallenValkyrie,growTime=1800,egg=chicken(1800:#F1B5A5:3),size=2,consumeRange=2




###########################################################################################################################################################################################################################################
# One offs

Hen,false,consumeItems=CarrotSeeds:OnionSeeds:TurnipSeeds:BeechSeeds:BirchSeeds,maxCreatures=10,growTime=1800,size=1


#StoneGolem,consumeItems=CopperOre:IronOre:SilverOre:TinOre:Ruby,consumeRange=2.2
#Lox,false,consumeItems=Barley:Cloudberry:Flax:Onion,size=2,consumeRange=3

#Asksvin,false,consumeItems=Vineberry:Fiddleheadfern:MushroomSmokePuff,growTime=1800
#Charred_Mage,consumeItems=MorgenHeart:BlackCore


#Allow single mobs to be tamed, but no procreation and decrease size
*JustForFunzies,true,1800,600,1.5,30,25,10,consumeItems=RawMeat:NeckTail:FishRaw:DeerMeat:WolfMeat:LoxMeat:HareMeat:ChickenMeat:SerpentMeat:BugMeat:AsksvinMeat:Softtissue,true,false,1,0,0,0,size=.66

Greydwarf_Shaman
Greydwarf_Elite
Skeleton
Surtling,consumeItems=Coal:ElderBark
Goblin
GoblinBrute,consumeRange=1.8
GoblinShaman
GoblinShaman_Hildir:GoblinShaman_Hildir_nochest,consumeRange=1.8
Draugr

##########################################################################################################################################################################################################################################
# Mini Bosses

#Skeleton_Hildir:Skeleton_Hildir_nochest,consumeItems=CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat
#Fenring_Cultist_Hildir:Fenring_Cultist_Hildir_nochest,consumeItems=SerpentMeat:RawMeat:NeckTail:FishRaw:Sausages:DeerMeat:WolfMeat
#GoblinShaman_Hildir:GoblinShaman_Hildir_nochest,consumeItems=SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat	
#GoblinBruteBros:GoblinBruteBros_nochest,consumeItems=SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat
#Charred_Melee_Dyrnwyn,consumeItems=MorgenHeart:BlackCore

########################################################################################################################################################################################################################################## 
# Bosses

Eikthyr,-1
#Eikthyr,consumeItems=Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Onion:Honey:Barley:Bread,size=2,consumeRange=1.8

gd_king,-1
#gd_king,consumeItems=CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat,size=3,consumeRange=4

Bonemass,-1
#Bonemass,consumeItems=SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,size=3,consumeRange=5

Dragon,-1
#Dragon,consumeItems=RawMeat:LoxMeat:CookedMeat:CookedLoxMeat:Sausages:WolfMeat:WolfJerky:HareMeat:CookedHareMeat,size=3,consumeRange=5

GoblinKing,-1
#GoblinKing,consumeItems=CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:Bread:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat,size=3,consumeRange=5

SeekerQueen,-1
#SeekerQueen,consumeItems=Sap:HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:RoyalJelly,size=3,consumeRange=5

Fader,-1
#Fader,consumeItems=SerpentMeatCooked:CookedBoneMawSerpentMeat,size=3,consumeRange=5



###################################################################################################################################################################
####Information####
#Any line starting with a # will be skipped from calculating into the tamelist, esentially removing it from being tameable

#Starting a line with a '*' will then set all atributes in that as the default going forward allowing to only specify attributes you change,
#	You can specify a new default at any time by starting a new line with '*' as shown below
#	the Boar will have the same attributes as Default and Deer with have the same attributes as Tier_1
#	the Greyling and Neck will have the same attributes as Tier_1 with dfferent consumeItems
# 	you can specify any attribute by "name=value"
#		example: Surtling,consumeItems=Coal:ElderBark
#	This will use all the default values except for consumeItems

##custom options:##
###	canMateWithSelf: default=true, options:true,false
#		makes it so can only mate with other creatures that have been specified and not creatures with the same prefab
# 		in this file Skeletons cannot mate with themselves and can only mate with Skeleton_Poison
###	size: default=1, options:1-4
#		multiplier to determine how far away it checks for other creatures, most creatures you will not have to change.
#		Lox should be at least 2, Vanilla Bosses should be 3, 4 is only if it is massive!
###	group: default=none
#		Groups are used to determine if mobs will be hostile towards eachother, if two mobs have the same group then 
#		if one is tamed and the other wild they will still not attack eachother
#		group can equal whatever name you want for example, if you add name=AllGoblin
#		to all of the goblins they will not attack eachother if one is tamed and the other is wild
###	specificOffspring: default=none, specify in the form Mate(offspring1:chance1/offspring2:chance2/...)
#		The following will make it so can only breed Goblins when breeding GoblinShaman and GoblinBrute with an 80% chance
#		and when breeding two GoblinShaman there is a 70% chance to get a GoblinBrute and 30% to get a GoblinShaman
#Goblin,-1
#*GoblinElites,true,2300,250,2,10,90,20,SerpentMeatCooked:CookedLoxMeat:CarrotSoup:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat,true,true,6,0.66,200,600
#GoblinShaman,specificOffspring=GoblinBrute(Goblin:80/GoblinBrute:10),specificOffspring=GoblinShaman(GoblinBrute:70)
#GoblinBrute
#GoblinShaman:GoblinBrute
#
###	egg=drake/chicken(hatchtime:color:size),  default(1800:default:1)
#		Have the creature lay an egg that will hatch into a mini version
#		choose which egg to copy, how long it will take to hatch when near a fire, if you want to change the color, if you want to change the size
#		by default you do not need to specify anything other than the egg type such as egg=drake
#		the color is specified as a hex code such as #FFFFFF for white or #FF0000 for red
#		an example would be the following which would have necks lay a smaller version of the dragon egg
#		with a color of green and a hatch time of 20 minutes
#Neck,egg=drake(1200:#00FF00:0.3)
#
### offspringName: default=Mini Name of Adult
#		Do you want to overwrite the Mini name with a custom name. An example below is for deer wanting the children to be named Fawn.
#		Be careful about putting this in a default line as all subsequent creatures will have identical names until you specify another default with offspringName or an offspringName is set on that creature.
#		If you want to have a space in the name replace it with a "_" such as Fenring_Cub
#Fenring,offspringName=Fenring_Cub
#
### requiredWorldKeys: default=None
#		Do you want to require a boss or creature to be killed before you are able to tame this creature? Any world key can be specified (be careful though, if you misspell it, you will not be able to tame this creature).
#		You can separate multiple keys with a : as shown below.
#		If you do not have the required keys, when hovering over the creature it will say "Feral" instead of "Wild"
#		Below is an example that requires you to defeat both Eikthyr and Modor to be able to tame wolves.
#Wolf,requiredWorldKeys=defeated_dragon:defeated_eikthyr

##Vanilla Default Values##
#	commandable:		Boar/Lox/Hen=false, Wolf=true
#	taming time:		1800 (seconds)
#	fed duration:		600 (seconds)
#	consume range:		Boar/Hen=1, Wolf=1.4, Lox=4 (units distance)
#	consumeSearchInterval:	10 (seconds)
#	consumeHeal:		N/A (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		many foods
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		Boar=5, Wolf/Lox=4, Hen=10 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	Boar/Wolf/Hen=60, Lox=120 (seconds)
#	growTime:			Boar/Wolf=3000, Lox=6000, Hen=1800 for Egg Hatch + 3000 for Chick to grow up (seconds)
